:host {
  padding: 2rem 1rem 1rem;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (width >= 600px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
