<page-title
  title="Employee Details"
  backToPath="/employees"
  [useBack]="true"
></page-title>

<div class="card">
  <div class="card__content">
    <div>
      <div class="field">First Name</div>
      <div class="value">{{ data?.firstName ?? "-" }}</div>
    </div>
    <div>
      <div class="field">Last Name</div>
      <div class="value">{{ data?.lastName ?? "-" }}</div>
    </div>
    <div>
      <div class="field">Birth Date</div>
      <div class="value">
        @if (data?.birthDate) {
        {{ data?.birthDate | date : "longDate" }}
        } @else {
        {{ "-" }}
        }
      </div>
    </div>
    <div>
      <div class="field">Email</div>
      <div class="value">{{ data?.email ?? "-" }}</div>
    </div>
    <div>
      <div class="field">Username</div>
      <div class="value">{{ data?.username ?? "-" }}</div>
    </div>
    <div>
      <div class="field">Group</div>
      <div class="value">{{ data?.group ?? "-" }}</div>
    </div>
    <div>
      <div class="field">Basic Salary</div>
      <div class="value">
        @if (data?.basicSalary) {
        {{ data?.basicSalary | currency : "IDR" : "symbol" : "1.0-0" }}
        } @else {
        {{ "-" }}
        }
      </div>
    </div>
    <div>
      <div class="field">Status</div>

      @if (data?.status) {
      <app-status [value]="data?.status"></app-status>
      } @else {
      {{ "-" }}
      }
    </div>
    <div>
      <div class="field">Description</div>
      <div class="value">{{ data?.description ?? "-" }}</div>
    </div>
  </div>
</div>
