:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  @media (width > 780px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    transition: none;
  }

  .active {
    border-color: #0ba5eb;
    background-color: #0ba5eb;
    color: #fff;
  }

  .entries-per-page {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
