.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

  &__menu {
    width: 36px;

    svg {
      cursor: pointer;
      transition: opacity 0.25s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__logo {
    font-weight: 800;
    cursor: pointer;
  }

  &__profile-pic {
    width: 36px;
    height: 36px;
  }
}
