.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out, border-color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;

  &:hover {
    opacity: 0.87;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #9f9f9f;
    cursor: not-allowed;

    &:hover {
      background-color: lighten(#e5e5e5, 3.6%);
    }
  }

  span {
    font-weight: 500;
  }
}

.btn--primary {
  border-color: #0ba5eb;
  background-color: #0ba5eb;
  color: #fff;
}

.btn--outline {
  border: 1px solid #efeff0;

  &:disabled {
    border-color: #e5e5e5;
    background-color: transparent;

    svg {
      fill: #e5e5e5;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
